* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.603), rgba(255, 255, 255, 0.603)),url("team.jpg");
    background-repeat: inherit;
    display: block;
    text-align: center;
    position: relative;

}
h1
{
    box-sizing: border-box;
    padding:15px;
    color:rgb(53, 3, 24); 
    display: block; 
}
form {
    padding: 30px;
    margin: 30px;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border-radius: 25px;
}

.info {
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
}
#ss1 {
    margin: 0px ;
}
#ss2 {
  margin: 0px ;
}

.choose
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 14pt;
    margin:10px;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}


.form-submit-button {
    margin-top: 15px;
    background: rgb(20, 1, 18);
    color: rgb(200, 229, 231);
    border-style: outset;
    border-color: rgb(0, 0, 0);
    height: 35px;
    width: 200px;
    border-radius: 20px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    
}
.form-submit-button:hover{
    margin-top: 15px;
    background: rgb(80, 175, 182);
    color: rgb(10, 26, 27);
    border-style: outset;
    border-color: rgb(80, 175, 182);
    height: 35px;
    width: 200px;
    border-radius: 20px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;

}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    position: relative;

  }
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .radiobtn {
    position: absolute;
    top: 0px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: rgb(232, 243, 243);
    border-radius: 50%;
  }
  
  .container:hover input ~ .radiobtn {
    background-color: #ccc;
  }
  
  .container input:checked ~ .radiobtn {
    background-color:rgb(75, 175, 182);
  }

  .checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: rgb(232, 243, 243);
    border-radius: 10%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: rgb(75, 175, 182);
  }


  @media (max-width: 1400px){

    .form-submit-button {
        margin-top: 0px;
        background: rgb(20, 1, 18);
        color: rgb(200, 229, 231);
        border-style: outset;
        border-color: rgb(0, 0, 0);
        height: 25px;
        width: 150px;
        border-radius: 20px;
        font: bold 15px arial, sans-serif;
        text-shadow:none;
        
    }
    .form-submit-button:hover{
        margin-top: 0px;
        background: rgb(80, 175, 182);
        color: rgb(10, 26, 27);
        border-style: outset;
        border-color: rgb(80, 175, 182);
        height: 25px;
        width: 150px;
        border-radius: 20px;
        font: bold 15px arial, sans-serif;
        text-shadow:none;
    
    }
}

