/***************************************************************
------------------------Navigation Bar--------------------------
****************************************************************/
/*Top Navigation Bar specifications*/
.topnav{
  overflow: hidden;
  background-image: linear-gradient(#5b6877, #39414b);
  margin: 0;
  padding-left: 15%;
  padding-right: 15%;
  position: sticky;
  top: 0;
}

/*Font for link in the Top Navigation Bar (Home, Archiver, Support)*/
@font-face {
  font-family: JosefinSans;
  src: url('../Fonts/JosefinSans-Light.ttf') format('truetype');
}

/*Font for the title (EZ Archiver)*/
@font-face {font-family: titleFont;
  src: url('../Fonts/Merienda/Merienda-Regular.ttf') format('truetype');
}

/*Title from the Top Navigation Bar (the one on the left) specifications (EZ Archiver)*/
.topnav b{
  font-family: titleFont;
  font-weight: 100;
  font-size: 28px;
  padding: 0px 0px;
  color: whitesmoke;
  display: inline-block;
}

/*Links from the Top Navigation Bar specifications (Home, Archiver, Support)*/
.topnav a{
  font-family: JosefinSans;
  text-decoration: none;
  color: whitesmoke;
  padding: 13.5px 25px;
  font-size: 20px;
  float:right;
}
.topnav a:hover{
  background-image:linear-gradient(#8599b1, #414a55) ;
}

/*Current link specifications*/
.active {
  background-image: linear-gradient(#39414b, #5b6877);
  
}

/*Burger Menu specifications*/
.topnav .icon {
  display: none;
}

/****************************************************************
-----------------------------Main body--------------------------
****************************************************************/



main{
  width: 100%;
  height: 90%;
  margin: auto;
  display: grid;
  grid-column-gap: 1em;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
  /* overflow: auto; */
}

html, body{
  background-image: linear-gradient(rgba(255, 255, 255, 0.315), rgba(255, 255, 255, 0.363)),url("../Pics/soothing.png");
  height: 100%;
  /* margin: 0; */
  /* background-color: #dbeef0; */
  font-family: JosefinSans;
  text-shadow: 4px 4px 7px black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* text-align:center; */
  margin:auto;
  overflow-x: scroll;

}





  h1
{
    box-sizing: border-box;
    padding:15px;
    color:rgb(53, 3, 24); 
    display: block; 
}

.info {
    font-size: 20px;
    margin: 10px;
    padding:10px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    
}
form {
    background-repeat: inherit;
    padding-top:40px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
    display: inline-block;
    box-sizing: border-box;
    background-color: rgb(243, 246, 247);
    border-radius: 25px;
    align-content: center;
    align-items: center;
    text-align: center;
    
}

form {
  margin: 2em;
}

.column {
    float: left;
    width: 100%;
    padding:10px;
    font-size: 1.2em;
    
    
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
    
  }


.answer_test {
    padding-right:20px;
    padding-left:20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom:15px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    border-color: rgb(143, 203, 218);
    border-style: solid;
    border-width: 1px;
    font-family: titleFont;
    
    
}
.answer_test:hover {
  padding-right:20px;
  padding-left:20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom:15px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    border-color: black;
    border-style: solid;
    background-color: rgb(182, 225, 236);
    border-width: 1px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.877), rgba(255, 255, 255, 0.781)),url("../Pics/soothing.png");
}


.form-submit-button {
    margin-top: 15px;
    background: rgb(20, 1, 18);
    color: rgb(200, 229, 231);
    border-style: outset;
    border-color: rgb(0, 0, 0);
    height: 35px;
    width: 200px;
    border-radius: 20px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    
}
.form-submit-button:hover{
    margin-top: 15px;
    background: rgb(80, 175, 182);
    color: rgb(10, 26, 27);
    border-style: outset;
    border-color: rgb(80, 175, 182);
    height: 35px;
    width: 200px;
    border-radius: 20px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    background-image: linear-gradient(rgba(255, 255, 255, 0.315), rgba(255, 255, 255, 0.363)),url("../Pics/soothing.png");

}



.container {
    display: block;
    position: relative;
    cursor: pointer;
    position: relative;

  }
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
 }


  .checkmark {
    position: absolute;
    top: 0px;
    left: 5px;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 10%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: rgb(45, 146, 153);
  }


  @media (min-height: 750px) and (max-width:1200px){

    .form-submit-button {
        margin-top: 0px;
        background: rgb(20, 1, 18);
        color: rgb(78, 183, 190);
        border-style: outset;
        border-color: rgb(0, 0, 0);
        height: 25px;
        width: 150px;
        border-radius: 20px;
        font: bold 15px arial, sans-serif;
        text-shadow:none;
        
    }
    .form-submit-button:hover{
        margin-top: 0px;
        background: rgb(80, 175, 182);
        color: rgb(10, 26, 27);
        border-style: outset;
        border-color: rgb(80, 175, 182);
        height: 25px;
        width: 150px;
        border-radius: 20px;
        font: bold 15px arial, sans-serif;
        text-shadow:none;
    
    }

    form {
      background-repeat: inherit;
      padding-top:40px;
      padding-bottom: 30px;
      padding-right: 30px;
      padding-left: 30px;
      margin: 30px;
      display: inline-block;
      box-sizing: border-box;
      background-color: rgb(243, 246, 247);
      border-radius: 25px;
      overflow-y: scroll; 
      height:780px;
      
  }
  
    .container {
        display: block;
        position: relative;
        cursor: pointer;
        position: relative;
    
      }
  
    .container input {
        position: relative;
        opacity: 0;
        cursor: pointer;
     }
    
    
      .checkmark {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 15px;
        width: 15px;
        opacity:100;
        background-color: white;
        border-radius: 10%;
      }
      
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }
      
      .container input:checked ~ .checkmark {
        background-color: rgb(45, 146, 153);
      }

      .answer_test {
        padding-right:20px;
        padding-left:20px;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-bottom:15px;
        margin-right:15px;
        display: block;
        box-sizing: border-box;
        text-align: center;
        border-color: rgb(143, 203, 218);
        border-style: solid;
        border-width: 1px;
        font-family: titleFont;
        
        
      }
      .answer_test:hover {
      padding-right:20px;
      padding-left:20px;
      padding-bottom: 20px;
      padding-top: 20px;
      margin-bottom:15px;
      margin-right:15px;
        display: block;
        box-sizing: border-box;
        text-align: center;
        border-color: black;
        border-style: solid;
        background-color: rgb(182, 225, 236);
        border-width: 1px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.877), rgba(255, 255, 255, 0.781)),url("../Pics/soothing.png");
      }
}

@media (max-width: 500px){

    .form-submit-button {
        margin-top: 0px;
        background: rgb(20, 1, 18);
        color: rgb(200, 229, 231);
        border-style: outset;
        border-color: rgb(0, 0, 0);
        height: 25px;
        width: 150px;
        border-radius: 20px;
        font: bold 15px arial, sans-serif;
        text-shadow:none;
        
    }
    .form-submit-button:hover{
        margin-top: 0px;
        background: rgb(80, 175, 182);
        color: rgb(10, 26, 27);
        border-style: outset;
        border-color: rgb(80, 175, 182);
        height: 25px;
        width: 150px;
        border-radius: 20px;
        font: bold 15px arial, sans-serif;
        text-shadow:none;
    
    }
    
    form {
      background-repeat: inherit;
      padding-top:10px;
      padding-bottom: 10px;
      padding-right: 10px;
      padding-left: 10px;
      margin: 10px;
      display: inline-block;
      box-sizing: border-box;
      background-color: rgb(243, 246, 247);
      border-radius: 25px;
      
  }

    .container {
        display: block;
        position: relative;
        cursor: pointer;
        position: relative;
    
      }
  
    .container input {
        position: relative;
        opacity: 0;
        cursor: pointer;
     }
    
    
      .checkmark {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 15px;
        width: 15px;
        opacity:100;
        background-color: white;
        border-radius: 10%;
      }
      
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }
      
      .container input:checked ~ .checkmark {
        background-color: rgb(45, 146, 153);
      }

      /*Title from the Top Navigation Bar (the one on the left) specifications (EZ Archiver)*/
.topnav b{
  font-family: titleFont;
  font-weight: 100;
  font-size: 28px;
  padding: 0px 16px;
  display: inline-block;
  opacity:0;
}
.answer_test {
  padding-right:20px;
  padding-left:20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom:15px;
  margin-right:15px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  border-color: rgb(143, 203, 218);
  border-style: solid;
  border-width: 1px;
  font-family: titleFont;
  
  
}
.answer_test:hover {
padding-right:20px;
padding-left:20px;
padding-bottom: 20px;
padding-top: 20px;
margin-bottom:15px;
margin-right:15px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  border-color: black;
  border-style: solid;
  background-color: rgb(182, 225, 236);
  border-width: 1px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.877), rgba(255, 255, 255, 0.781)),url("../Pics/soothing.png");
}
    
    
}

@media (max-width: 350px){

    .form-submit-button {
        margin-top: 0px;
        background: rgb(20, 1, 18);
        color: rgb(200, 229, 231);
        border-style: outset;
        border-color: rgb(0, 0, 0);
        height: 25px;
        width: 150px;
        border-radius: 20px;
        font: bold 15px arial, sans-serif;
        text-shadow:none;
        
    }
    .form-submit-button:hover{
        margin-top: 0px;
        background: rgb(80, 175, 182);
        color: rgb(10, 26, 27);
        border-style: outset;
        border-color: rgb(80, 175, 182);
        height: 25px;
        width: 150px;
        border-radius: 20px;
        font: bold 15px arial, sans-serif;
        text-shadow:none;
    
    }
    
    form {
      background-repeat: inherit;
      padding-top:10px;
      padding-bottom: 10px;
      padding-right: 10px;
      padding-left: 10px;
      margin: 10px;
      display: inline-block;
      box-sizing: border-box;
      background-color: rgb(243, 246, 247);
      border-radius: 25px;
      overflow-y: scroll; 
      height:800px;
      
  }

    .container {
        display: block;
        position: relative;
        cursor: pointer;
        position: relative;
    
      }
  
    .container input {
        position: relative;
        opacity: 0;
        cursor: pointer;
     }
    
    
      .checkmark {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 15px;
        width: 15px;
        opacity:1000;
        background-color: white;
        border-radius: 10%;
      }
      
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }
      
      .container input:checked ~ .checkmark {
        background-color: rgb(45, 146, 153);
      }
    
            /*Title from the Top Navigation Bar (the one on the left) specifications (EZ Archiver)*/
.topnav b{
  font-family: titleFont;
  font-weight: 100;
  font-size: 28px;
  padding: 0px 16px;
  display: inline-block;
  opacity:0;
}
.answer_test {
  padding-right:20px;
  padding-left:20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom:15px;
  margin-right:15px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  border-color: rgb(143, 203, 218);
  border-style: solid;
  border-width: 1px;
  font-family: titleFont;
  
  
}
.answer_test:hover {
padding-right:20px;
padding-left:20px;
padding-bottom: 20px;
padding-top: 20px;
margin-bottom:15px;
margin-right:15px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  border-color: black;
  border-style: solid;
  background-color: rgb(182, 225, 236);
  border-width: 1px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.877), rgba(255, 255, 255, 0.781)),url("../Pics/soothing.png");
}
}