<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="An Online Teacher for Good Manners">
        <meta name="keywords" content="HTML,CSS,manners">
        <meta name="author" content="Bucnaru Raluca, Hlusneac Maria">
        <meta name="author" content="Image taken From PngFuel">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="../CSSs/home.css">
        <title>Home</title>
    <body>
        <nav class="topnav" id="myTopnav">
            <b>GoMaR</b>
            <!-- <a href="../Pages/Support.html">Support</a>
            <a href="../Pages/Archiver_page.html">Archiver</a>   -->
            <a class="active" href="login.html">Logout</a>  <!--Pagina pe care se afla User ul in mod curent-->
              <i class="fa fa-bars"></i>
          </nav>
        
          <div class="list">



            <div class="Users">
                <p>List of Top Users</p>
                <ul class="right">
                    <li>User 1</li>
                    <li>User 2</li>
                    <li>User 3</li>
                    <li>User 4</li>
                    <li>User 5</li>
                    <li>User 6</li> 
                    <li>User 7</li> 
                    <li>User 8</li>
                    <li>User 9</li>
                    <li>User 10</li>
                    <li>User 11</li>
                </ul>
            </div>




            <div class="Scores" >
                <p>Your score</p>
                <ul class="left">
                    <li> 1</li>
                    <li> 2</li>
                    <li> 3</li>
                    <li> 4</li>
                    <li> 5</li>
                    <li> 6</li> 
                    <li> 7</li> 
                    <li> 8</li>
                    <li> 9</li>
                    <li> 10</li>
                    <li> 11</li>
                </ul>
            </div>



          
        </div>
     
    <div class="formchoose">
    <form action="test.html">
        <div>
            <p class="info">Please tell us what kind of events you want to attend</p>
            <p class="choose">
            <label class="container">Religious Gathering
            <input type="radio" id="Religious_Gathering" name="event" value="Religious Gathering">
            <span class="radiobtn"></span>
            </label>

            <label class="container">Restaurant Meeting
            <input type="radio" id="Restaurant_Meeting" name="event" value="Restaurant Meeting">
            <span class="radiobtn"></span>
            </label>

            <label class="container">Office Meeting
            <input type="radio" id="Office_Meeting" name="event" value="Office Meeting">
            <span class="radiobtn"></span>
            </label>

            <label class="container">Wedding
            <input type="radio" id="Wedding" name="event" value="Wedding">
            <span class="radiobtn"></span>
            </label>

            <label class="container">Informal Meeting
            <input type="radio" id="Informal_Meeting" name="event" value="Informal Meeting">
            <span class="radiobtn"></span>                    
            </label>
            
            <label class="container">Academic Meeting
            <input type="radio" id="Academic_Meeting" name="event" value="Academic Meeting">
            <span class="radiobtn"></span>
            </label>

            <label class="container">Family Gathering
            <input type="radio" id="Family_Gathering" name="event" value="Family Gathering">
            <span class="radiobtn"></span>
            </label>

            <label class="container">Online Meeting 
            <input type="radio" id="Online_Meeting" name="event" value="Online Meeting">
            <span class="radiobtn"></span>
            </label>

            <label class="container">Video Game Events
            <input type="radio" id="Video_Game_Events" name="event" value="Video Game Events">
            <span class="radiobtn"></span>
            </label>

            <label class="container">Game Events
            <input type="radio" id="Game_Events" name="event" value="Game Events">
            <span class="radiobtn"></span>
            </label>

            <label class="container">Sports Events
            <input type="radio" id="Sports_Events" name="event" value="Sports Events">
            <span class="radiobtn"></span>
            </label>
        </p>
    </div>
    <div>
        <input type="submit" value="Submit" class="form-submit-button">
    </div>
    </form>
</div>


    </body>
</html>