<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../CSSs/admin_page.css ">
    <title>Admin - GoMaR</title>
    <script src="../JSs/login.js"></script>
  </head>
  <body>
    <form action="try2.php" method="POST">
      <table>

          <tr>
            <td>Delete</td>
            <td>Obiect</td>
          </tr>

          <tr>
            <td><input type="checkbox" name= "bicla" value="bike"></td>
            <td>Bicicleta</td>
          </tr>

          <tr>
            <td><input type="checkbox" name ="1" value="3"></td>
            <td>Masina</td>
          </tr>

      </table>
      <input type="submit" name="formular" value="Submit" formaction="try.php">
    </form>
  </body>