/***************************************************************
------------------------Navigation Bar--------------------------
****************************************************************/
/*Top Navigation Bar specifications*/
.topnav{
    overflow: hidden;
    background-image: linear-gradient(#1589b7, #003b70);
    margin: 0;
    padding-left: 15%;
    padding-right: 15%;
}

/*Font for link in the Top Navigation Bar (Home, Archiver, Support)*/
@font-face {
    font-family: JosefinSans;
    src: url('../Fonts/JosefinSans-Light.ttf') format('truetype');
}

/*Font for the title (EZ Archiver)*/
@font-face {font-family: titleFont;
    src: url('../Fonts/CalligraPhillipW00Reg.ttf') format('truetype');
}

/*Title from the Top Navigation Bar (the one on the left) specifications (EZ Archiver)*/
.topnav b{
    font-family: titleFont;
    font-weight: 100;
    font-size: 28px;
    padding: 0px 16px;
    color: whitesmoke;
    display: inline-block;
}

/*Links from the Top Navigation Bar specifications (Home, Archiver, Support)*/
.topnav a{
    font-family: JosefinSans;
    text-decoration: none;
    color: whitesmoke;
    padding: 13.5px 25px;
    font-size: 20px;
    float:right;
}
.topnav a:hover{
    background-image:linear-gradient(#70cdd0, #1589b7) ;
}

/*Current link specifications*/
.active {
    background-image: linear-gradient(#003b70, #1589b7);
    
}

/*Burger Menu specifications*/
.topnav .icon {
    display: none;
}

/****************************************************************
-----------------------------Main body--------------------------
****************************************************************/


html, body{
    background-image: url("../Pics/background_faded.png");
    height: 100%;
    /* margin: 0; */
    /* background-color: #dbeef0; */
    font-family: JosefinSans;
    text-shadow: 4px 4px 7px black;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* text-align:center; */
    margin:auto;

}
main{
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-column-gap: 1em;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    /* overflow: auto; */
}

form{
    display: flex;
    border-style: solid;
    border-width: 0.05em;
    border-radius: 2em;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    margin:0.2em;
    background-color: rgba(0, 0, 0, 0.411);
    
}

main p{
    font-size: 1.2em;   
    font-weight: bold;
    color: whitesmoke;
}
main h3{
    font-size: 1.2em; 
    font-weight: bold;
    color: whitesmoke;
    margin: 4%;
}

#button1{
    font-family: JosefinSans;
    display: block;
    width: 65%;
    background-color:rgba(0,0,0, 0.15);
    border: 0.2em;
    border-color: #003b70;
    font-size: 1.6em;
    color:white;
    border-radius: 2em;
}

#button2{
  font-family: JosefinSans;
  display: block;
  width: 65%;
  background-color:rgba(0,0,0, 0.15);
  border: 0.2em;
  border-color: #003b70;
  font-size: 1.6em;
  color:white;
  border-radius: 2em;
}


.registerButton {
    font-family: JosefinSans;
    background-color:rgba(0,0,0, 0.15);
    border: none;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6em;
    margin: auto;
    margin-bottom: 1.5em;
    cursor: pointer;
    width: 65%;
    border-radius: 2em;
    padding: 0.3em;
  }

#button1:hover{
  background-color:rgb(255, 255, 255, 0.55);
  color: #1589b7;
}

#button2:hover{
  background-color:rgb(255, 255, 255, 0.55);
  color: #1589b7;
}

.registerButton:hover{
  background-color:rgb(255, 255, 255, 0.55);
  color: #1589b7;
}
